vendor
node_modules
.git
.github
.idea
.vscode
.fleet
mobile
*.md
docs
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*.php
.env
.env.*
!.env.docker.example
.phpunit.cache
test-results*.txt
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
